main > .container {
    padding: 60px 15px 0;
}
.btn-white, .btn-white:hover, .btn-white:active, .btn-white:visited
{
    color: white;
    background-color: orangered;
}
.btn-outline-white, .btn-outline-white:hover, .btn-outline-white:active, .btn-outline-white:visited
{
    color: orangered;
    border-color: orangered;
}
#range{
    background: orangered ;
    border-color: orangered ;
    color: orangered ;
}
#progress-bar
{
    color: orangered;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
#mainTitle
{
    color: orangered;
}
#mainIntro
{
    padding-top: 80px;
}
#volDirectCheck
{
    padding-left: 20px;
}
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 1);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
